

.search {
    flex: 1;
}

.input {
    width: 300px;
    margin: 10px 150px;
}

.input * {
    text-align: center !important;
    padding: 14px;
    font-size: 18px !important;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    flex: 1;
    margin: 10px 0;
    max-height: calc(100vh -195px);
    overflow: auto;
    padding: 15px;
    border: 1px solid red;
    border-radius: 20px;
}